/* @import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap'); */
html{

    height: 100%;
}


body {
    font-family: 'Nunito', sans-serif;
    background: white;
    min-height: 100%;
}

.fire_gradient{
    background: -webkit-linear-gradient(50deg, #00d9ff, #001fcc) !important;
    background: -o-linear-gradient(50deg, #00e1ff, #0e00cc) !important;
    background: linear-gradient(40deg, #00d9ff, #1400cc) !important; 
    opacity: 0.9;
}

.sidebar_gradient {
    background: -webkit-linear-gradient(270deg, #f79c35, #ff8800) !important;
    background: -o-linear-gradient(270deg, #f79c35, #ff8800) !important;
    background: linear-gradient(270deg, #f5a74f, #ff8800) !important; 
    opacity: 0.9;
}

.text-color{
    color: white;
}

.text-color:hover{
    color: white;
}

.buttn_submit {
    color: white;
}

.buttn_submit:hover {
    color: white;
    opacity: 0.9;
    transition: 0.3s;
}

nav ul li {
    color: white;
    font-family: 'Nunito';
    font-size: 16px;
}

header {
    /* position: fixed; */
    width: 100%;
}

.header_image {
    width: 75px;
    height: 40px;
}

.main {
    padding: 2.5rem;
    /* padding-top: 6rem; */
    min-height: calc(90vh - 60px);
    min-width: 450px;
    font-family: 'Nunito';
    font-size: 17px;
    background: transparent;
}

.main-expand {
    padding: 2rem;
    min-height: calc(90vh - 60px);
    min-width: 450px;
    font-family: 'Nunito';
    font-size: 17px;
    background: transparent;
}

.main-nopaddingUp {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: calc(90vh - 60px);
    min-width: 450px;
    font-family: 'Nunito';
    font-size: 17px;
    background: transparent;
}

button {
    color: white;
}

h3 {
    font-size: 22px;
}

footer {
    height: 60px;
    font-weight: 400;
    color: white;
    font-size: 19px;
    text-align: center;
    padding: 20px;
    width: 100%;
    position:absolute;
    margin-top: auto;
}

.footer_image {
    width: 75px;
    height: 40px;
}

.content {
    font-family: 'Nunito';
    text-align: justify;
}

/* Scroll Top Button */

#topBtn {
    position: fixed;
    overflow: hidden;
    bottom: 70px;
    right: 40px;
    font-size: 32px;
    width: 60px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

/*  */


/* Scroll Bar */

::-webkit-scrollbar{
    width: 9px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#ff8800, #cc0000, #ff8800);
    border-radius: 8px;
}

/*  */

.login-box {
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}

.loginPage_img {
    width: 50%;
}

.loginPage_img_01 {
    width: 100%;
    height: 25em;
    margin-top: 7em;
}

.carousel-img5{
    width: 15em;
}

.notify_image {
    width: 50%;
}

.registry-box {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.registerPage_img {
    width: 50%;
}

.passResetPage_img {
	width: 20%;
}

.mainLogo {
    width: 20%;
}

.text_inputs {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
    /* border: black solid 3px; */
}

.md_text_inputs input{
    height: calc(1.8em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    border: #ced4da solid 1px;
    border-radius: 5px;
}

.text_inputs input {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    width: 400px;
    border: #ced4da solid 1px;
    border-radius: 5px;
}

.text_inputs select{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    width: 400px;
    border: #ced4da solid 1px;
    border-radius: 5px;
}

.md_text_inputs textarea {
    height: calc(1.5em + 1.75rem + 2px);
    padding: 0.375rem 0.75rem;
    /* width: 1100px; */
    font-size: 15px;
    border: #ced4da solid 1px;
    border-radius: 5px;
}

.text_inputs textarea {
    height: calc(1.5em + 4.75rem + 2px);
    padding: 0.375rem 0.75rem;
    width: 400px;
    border: #ced4da solid 1px;
    border-radius: 5px;
}

.md_text_inputs input:focus {
    border-color: #f57105;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.938);
}

.text_inputs select:focus {
    border-color: #f57105;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.938);
}

.text_inputs input:focus {
    border-color: #f57105;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.938);
}

.md_text_inputs textarea:focus {
    border-color: #f57105;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.938);
}

.text_inputs textarea:focus {
    border-color: #f57105;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.938);
}

.md_text_inputs input::placeholder{
    font-size: 15px;
}

.text_inputs input::placeholder{
    font-size: 15px;
}

.text_inputs textarea::placeholder{
    font-size: 15px;
}

.md_text_inputs textarea::placeholder{
    font-size: 15px;
}

.other_links {
    margin-top: 10px;
    text-decoration: none;
}

.other_links a {
    color: black;
    text-decoration: none;
} 

.other_links a:hover {
    color: rgb(255, 102, 0);
    text-decoration: none;
    transition: 0.3s;
}

hr {
    height: 2px;
    background: lightgray;
}

.topic {
    text-align: justify;
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3'
    'feed feed feed';
    grid-template-columns: repeat(3, 1fr);
}

/* Grid Starts */

.error_page_logo {
    width: 40%;
}

.error_topic {
    font-weight: 700;
}

.error_info {
    display: grid;
    grid-gap: 50px;
    grid-template-areas: 
    'error_de error_pic'
    'bttn bttn';
    grid-template-columns: 1fr 1fr;
}

.describ {
    grid-area: error_de;
}

.error_image {
    grid-area: error_pic;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.button_area {
    grid-area: bttn;
    text-align: center;
    color: white;
}

.button_area:hover {
    grid-area: bttn;
    text-align: center;
    color: white;
}

/* Grid ends */

.bio-image {
    grid-area: bioimage;
    width: 80%;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    border: orangered solid 4px;
}
.nav-user-img {
    padding-left: 1rem;
}

.nav-bar-user-img {
    height: 40px;
    border-radius: 50%;
    margin: auto;
    border: white solid 2px;
}

.side-user-img {
    padding: 0.5rem;
}

.side-bar-user-img {
    width: 50%;
    height: 85px;
    margin: auto;
    /* background: url('img/male_default.jpg'); */
    /* background-size: cover; */
    border-radius: 50%;
    border: white solid 4px;
}

.bio {
    text-align: justify;
    grid-area: bio;
}

.job-1 {
    grid-area: job1;
    text-align: justify;
}

.job-2 {
    grid-area: job2;
    text-align: justify;
}

.job-3 {
    grid-area: job3;
    text-align: justify;
}

/* feedback section */

.feedback_section {
    grid-area: feed;
    font-family: "Nunito";
}

/* View of Reviews */

.notify_item {
    padding: 1rem;
    margin-top: 15px;
    background: white;
    border-radius: 5px;
}

.text-center h1 {
    margin-top: 50px;
}

.notify_item:hover {
    margin-top: 15px;
    background: rgba(209, 208, 208, 0.671);
    transition: 0.5s;
}

.notify_time {
    font-size: 14px;
}

.main_notified_image {
    width: 10%;
    height: 50px;
    border-radius: 50%;
    border: 2px solid orangered;
}

input[type="radio"] {
    display: none;
}

.star{
    cursor: pointer;
    transition: 200ms;
}

/* End of feedback section */

/* Recommendation System Css */

.recommend {
    top: 50%;
    padding-left: 20%;
}

.recommendation_box {
    background: -webkit-linear-gradient(50deg, #ff8800, #cc0000) !important;
    background: -o-linear-gradient(50deg, #ff8800, #cc0000) !important;
    background: linear-gradient(40deg, #ff8800, #cc0000) !important; 
    opacity: 0.7;
    height: 400px;
    width: 700px;
    border-radius: 5px;
}

.users {
    padding: 4rem;
}

.user {
    background: white;
    height: 50px;
    width: 570px;
    border-radius: 25px;
    opacity: 1;
    text-align: left;
}

.star-outer {
    position: relative;
    display: inline-block;
}

.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.star-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}

.star-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}

.user .userImage {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid orangered;
}

.user .text-center a {
    margin-top: 25px;
}

.carp_recom_box {
    margin-left: 100px;
    margin-right: 100px;
}

.maso_recom_box {
    margin-left: 100px;
    margin-right: 100px;
}

/*  */

.carpenter_profiles_box {
    text-align: center;
}

.selection_tab_btn a{
    /* border: black solid 5px; */
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    background: -webkit-linear-gradient(50deg, #00d9ff, #00cc1b) !important;
    background: -o-linear-gradient(50deg, #00e1ff, #11cc00) !important;
    background: linear-gradient(40deg, #00d9ff, #00cc33) !important; 
    opacity: 0.8;
    cursor: pointer;
    margin: 5px;
    color: white;
    text-decoration: none;
}

.carpenter_profiles_box img {
    padding: 7px;
}

.profile_inputs input:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 151, 46, 0.938)
}

.profile_inputs select:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 151, 46, 0.938)
}

.profile_image {
    border: 5px dashed #f8931f;
    border-radius: 50%;
    width: 45%;
}

.profile_picture {
    width: 65%;
    height: 300px;
    /* background: url('img/male_default.jpg'); */
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    border: #f8931f dashed 5px;
    overflow: hidden;
}

.index_image {
    /* padding-right: 10px; */
    width: 13%;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

/* Featurette */

.cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    background: white;
    margin-bottom: 4rem;
}

.cardSection h3 {
    margin-bottom: 2rem;
}

.cardSection img {
    height: 100%;
}

.cardSection > div {
    padding: 2rem;
}

.cardSection:nth-child(odd) img {
    order: 1;
}

.btn1 {
    display: inline-block;
    background: orangered;
    color: white;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn1:hover {
    opacity: 0.8;
}

/*  */

/* Home page carousel */

.carousel-img {
    margin-left: 200px;
    margin-top: 5px;
    width: 70%;
    height: 400px;
}
/*  */

/* User Profile Cards */

.user_card {
    /* border: black solid 2px; */
    background: linear-gradient(180deg,white,white, white, rgb(226, 226, 226));
    /* padding: 10px; */
    margin-left: 30px;
    margin-top: 30px;
    width: 280px;
    height: 420px;
    border-radius: 5px;
    font-size: 17px;
    /* box-shadow: 0px 8px 20px rgba(0,0,0,19%); */
}

.font-link {
    font-family: 'Hanalei Fill', cursive;
  }

  /* @font-face {
    font-family: "GoldmanBold";
    src: local("GoldmanBold"),
     url("./fonts/Goldman/Goldman-Bold.ttf") format("truetype");
    font-weight: bold;
   } */

.user_card-header {
    height: 40%;
    position: relative;
}

.animated_wave-bg {
    border-radius: 8px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.animated_wave-01 {
    position: absolute;
    width: 600px;
    height: 600px;
    background: linear-gradient(to top right,#fa9c30, #f72222);
    border-radius: 50%;
    top: -500px;
    left: -170px;
    animation: rotate 10s linear infinite;
}

.animated_wave-02 {
    position: absolute;
    width: 600px;
    height: 600px;
    background: linear-gradient(to top right,#fa9c30, #f72222);
    border-radius: 40%;
    top: -500px;
    left: -182px;
    opacity: 0.5;
    animation: rotate 15s linear infinite;
}

.animated_wave-03 {
    position: absolute;
    width: 600px;
    height: 600px;
    background: linear-gradient(to top right,#fa9c30, #f72222);
    border-radius: 45%;
    top: -500px;
    left: -160px;
    /* opacity: 0.5; */
    animation: rotate 15s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.user_profile_pic-content {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70%;
    text-align: center;
    background: transparent;
}

.profile_image {
    width: 20%;
}

.user_profile_pic {
    width: 100%;
    height: 110px;
    border: white solid 4px;
    border-radius: 50%;
    box-shadow: 0px 8px 20px rgba(0,0,0,39%);
}

.user_card-content {
    position: relative;
    top: 5%;
    text-align: center;
}

.user_name {
    color: black;
    font-weight: 700;
    font-size: 1.4em;
}

.user_info {
    margin-top: 5px;
    color: black;
    padding: 0px 10px;
}

.user_social-media {
    color: orangered;
    padding: 5px;
    margin-top: 20px;
}

.user_social-media a {
    text-decoration: none;
    color: orangered;
    cursor: pointer;
    opacity: 1;
}

.user_social-media a:hover {
    text-decoration: none;
    color: orangered;
    cursor: pointer;
    opacity: 0.4;
    transition: ease-out 0.3s;
}

.user_social-media i {
    padding: 5px;
}

.search_filter_inputs input:focus {
    border-color: #f57105;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.938);
}

.search_filter_inputs select:focus {
    border-color: #f57105;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 136, 0, 0.938);
}

.search_filter_inputs select option {
    border: none;
    text-decoration: none;
}

.search_filter_inputs select option:hover {
    background: rgba(255, 136, 0, 0.938);
    transition: ease-out 0.4s;
}

/*  */


/* ML */

.prediction_table thead tr{
    color: white;
}

/*  */


/* Process Button */

.arrow_right_btn {
    color: orangered;
    opacity: 0.9;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.arrow_right_btn:hover{
    color: orangered;
    opacity: 0.4;
    border: 2px solid orangered;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-decoration: none;
    transition: ease-out 0.9s;
}

.right_btn {
    padding-right: 50px;
    text-decoration: none;
}

.right_btn:hover{
    padding-right: 50px;
    text-decoration: none;
}

.arrow_left_btn {
    color: orangered;
    opacity: 0.9;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.arrow_left_btn:hover{
    color: orangered;
    opacity: 0.4;
    border: 2px solid orangered;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-decoration: none;
    transition: ease-out 0.9s;
}

.left_btn {
    padding-right: 50px;
    text-decoration: none;
}

.left_btn:hover{
    padding-right: 50px;
    text-decoration: none;
}

/* Animations */

.fade-in {
    animation: fade 0.8s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.upload_img {
    width: 20%;
    padding: 10px;
    border: none;
}

.img_pre_sps {
    border: 2px gray dashed;
    border-radius: 20px;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

/* Summary */

.summary_box {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}

/*  */

/* Dashboard */

.sideBar {
    min-height: calc(80vh - 60px);
}

.dashboard_item_1 {
    border-radius: 5px;
    height: 160px;
    background: linear-gradient(145deg, #00d2ff, #3a7bd5); 
}

.dashboard_item_2 {
    border-radius: 5px;
    height: 160px;
    background: linear-gradient(145deg, #ff00cc, #333399); 
}

.dashboard_item_3 {
    border-radius: 5px;
    height: 160px;
    background: linear-gradient(145deg, #ffc371, #ff5f6d); 
}

.inner_box_adjust_3_right {
    padding-top: 80px;
    padding-right: 0px;
}

.row h3 {
    padding-top: 20px;
    font-size: 50px;
}

.inner_box_adjust_1 {
    padding-top: 15px;
    padding-right: 25px;
    
}

.inner_box_adjust_1 h5 {
    font-size: 30px;
}

.inner_box_adjust_1 .fontAwesome_icon_size {
    font-size: 30px;
}

.inner_box_adjust_1 h4 {
    font-size: 50px;
    padding-right: 210px;
    /* display: none; */
}

.inner_box_adjust_2 {
    padding-top: 15px;
    padding-right: 25px;
    
}

.inner_box_adjust_2 h5 {
    font-size: 30px;
}

.inner_box_adjust_2 .fontAwesome_icon_size {
    font-size: 30px;
}

.inner_box_adjust_2 h4 {
    font-size: 50px;
    padding-right: 240px;
    /* display: none; */
}

.inner_box_adjust_3 {
    padding-top: 15px;
    padding-right: 25px;
    
}

.inner_box_adjust_3 h5 {
    font-size: 30px;
}

.inner_box_adjust_3 .fontAwesome_icon_size {
    font-size: 30px;
}

.inner_box_adjust_3 h4 {
    font-size: 50px;
    padding-right: 240px;
    /* display: none; */
}

.dashboard_logo_image {
    width: 75px;
    height: 40px;
}

.dropDown_sizing {
    height: 35px;
    width: 40px;
    color: white;
}

.dropDown_sizing:active {
    height: 35px;
    width: 40px;
    color: white;
    border: none;
}

.dropDown_menu_sizing {
    width: 20px;
}

/*  */

.notifi_icon {
    color: white;
    padding-top: 10px;
    font-size: 30px;
}

/* Media Quries */

@media Screen and (max-width: 499px) and (min-width: 200px) {

    .profile_picture {
        width: 25%;
        height: 300px;
        margin: auto;
        border-radius: 50%;
        border: orangered solid 4px;
    }

    .login-box {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    
    .loginPage_img {
        width: 50%;
    }
    

    .registry-box {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    
    .registerPage_img {
        width: 50%;
    }

}

@media Screen and (max-width: 500px) {
    
    .profile_picture {
        width: 0%;
        height: 300px;
        margin: auto;
        border-radius: 50%;
        border: orangered solid 4px;
    }

    .topic h1 {
        text-align: center;
    }
    
    .topic h3, h5 {
        text-align: center;
    }

    .text_inputs input {
        width: 300px;
    }

    h3 {
        font-size: 20px;
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }

    .about-info h3 {
        text-align: center;
        font-size: 25px;
    }

    .error_info {
        grid-template-areas: 
        'error_de'
        'bttn bttn';
        grid-template-columns: 1fr;
    }

    .index_image {
        align-items: center;
        /* padding-right: 10px; */
        width: 10%;
        height: 220px;
        margin: auto;
        border-radius: 50%;
    }

    .login-box {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    
    .loginPage_img {
        width: 50%;
    }

    .registry-box {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }
    
    .registerPage_img {
        width: 50%;
    }

    .dashboard_item_1 {
        border-radius: 50%;
        height: 60px;
    }

    .dashboard_logo_image {
        width: 75px;
        height: 40px;
    }

    .inner_box_adjust_1 {
        padding-top: 15px;
        padding-right: 0px;
        
    }
    
    .inner_box_adjust_1 h5 {
        font-size: 20px;
    }
    
    .inner_box_adjust_1 .fontAwesome_icon_size {
        display: none;
    }
    
    .inner_box_adjust_1 h4 {
        font-size: 50px;
        padding-right: 24px;
        /* display: none; */
    }

    .inner_box_adjust_2 {
        padding-top: 15px;
        padding-right: 0px;
        
    }
    
    .inner_box_adjust_2 h5 {
        font-size: 20px;
    }
    
    .inner_box_adjust_2 .fontAwesome_icon_size {
        display: none;
    }
    
    .inner_box_adjust_2 h4 {
        font-size: 50px;
        padding-right: 24px;
        /* display: none; */
    }

    .inner_box_adjust_3 {
        padding-top: 15px;
        padding-right: 5px;
        
    }
    
    .inner_box_adjust_3 h5 {
        font-size: 20px;
    }
    
    .inner_box_adjust_3 .fontAwesome_icon_size {
        display: none;
    }
    
    .inner_box_adjust_3 h4 {
        font-size: 50px;
        padding-right: 20px;
        /* display: none; */
    }
    

}

@media Screen and (max-width: 768px) {

    .profile_picture {
        width: 50%;
        height: 300px;
        margin: auto;
        border-radius: 50%;
        border: orangered solid 4px;
    }

    .topic h1 {
        text-align: center;
    }
    
    .topic h3, h5 {
        text-align: center;
    }

    .text_inputs input {
        width: 300px;
    }
    
    h3 {
        font-size: 20px;
    }

    /* main {
        padding: 3rem;
    } */
    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }

    .error_info {
        grid-template-areas: 
        'error_de'
        'bttn bttn';
        grid-template-columns: 1fr;
    }

    .about-info h3 {
        text-align: center;
        font-size: 25px;
    }

    .index_image {
        align-items: center;
        /* padding-right: 10px; */
        width: 32%;
        height: 120px;
        margin: auto;
        border-radius: 50%;
    }

    .login-box {
        margin-left: 65px;
        margin-right: 65px;
        text-align: center;
    }
    
    .loginPage_img {
        width: 50%;
    }

    .registry-box {
        margin-left: 65px;
        margin-right: 65px;
        text-align: center;
    }
    
    .registerPage_img {
        width: 50%;
    }

    .dashboard_item_1 {
        border-radius: 50%;
        height: 100px;
    }

    .dashboard_item_2 {
        border-radius: 50%;
        height: 100px;
    }

    .dashboard_item_3 {
        border-radius: 50%;
        height: 100px;
    }

    .inner_box_adjust_1 {
        padding-top: 20px;
        padding-left: 5px;
        /* display: none; */
    }

    .inner_box_adjust_1 .fontAwesome_icon_size {
        display: none;
    }

    .inner_box_adjust_1 h4 {
        font-size: 25px;
        padding-right: 45px;
        /* display: none; */
    }

    .inner_box_adjust_2 {
        padding-top: 20px;
        padding-left: 5px;
        /* display: none; */
    }

    .inner_box_adjust_2 .fontAwesome_icon_size {
        display: none;
    }

    .inner_box_adjust_2 h4 {
        font-size: 25px;
        padding-right: 45px;
        /* display: none; */
    }

    .inner_box_adjust_3 {
        padding-top: 20px;
        padding-left: 5px;
        /* display: none; */
    }

    .inner_box_adjust_3 .fontAwesome_icon_size {
        display: none;
    }

    .inner_box_adjust_3 h4 {
        font-size: 25px;
        padding-right: 45px;
        /* display: none; */
    }

    .dashboard_logo_image {
        width: 75px;
        height: 40px;
    }
    
}

@media Screen and (min-width: 769px) and (max-width: 1170px) {

    .topic h1 {
        text-align: center;
    }
    
    .topic h3, h5 {
        text-align: center;
    }

    .text_inputs input {
        width: 300px;
    }
    
    h3 {
        font-size: 20px;
    }

    /* main {
        padding: 3rem;
    } */
    /* .about-info {
        grid-template-areas: 
        'bioimage bio'
        'job1 job2'
        'job3';
        grid-template-columns: 2fr;
    } */

    .about-info h3 {
        text-align: center;
        font-size: 25px;
    }

    .error_info {
        grid-template-areas: 
        'error_de'
        'bttn bttn';
        grid-template-columns: 1fr;
    }

    .carpenter_profiles_box {
        text-align: center;
    }

    .index_image {
        /* padding-right: 10px; */
        width: 40%;
        height: 130px;
        margin: auto;
        border-radius: 50%;
    }

    .login-box {
        margin-left: 255px;
        margin-right: 255px;
        text-align: center;
    }
    
    .loginPage_img {
        width: 50%;
    }

    .registry-box {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }
    
    .registerPage_img {
        width: 50%;
    }

    .dashboard_item_1 {
        height: 120px;
    }

    .dashboard_item_2 {
        height: 120px;
    }

    .dashboard_item_3 {
        height: 120px;
    }

    .inner_box_adjust_1 {
        padding-top: 20px;
        padding-left: 5px;
        /* display: none; */
    }

    .inner_box_adjust_1 .fontAwesome_icon_size {
        display: none;
    }

    .inner_box_adjust_1 h4 {
        font-size: 25px;
        padding-right: 45px;
        /* display: none; */
    }

    .inner_box_adjust_2 {
        padding-top: 20px;
        padding-left: 5px;
        /* display: none; */
    }

    .inner_box_adjust_2 .fontAwesome_icon_size {
        display: none;
    }

    .inner_box_adjust_2 h4 {
        font-size: 25px;
        padding-right: 45px;
        /* display: none; */
    }

    .inner_box_adjust_3 {
        padding-top: 20px;
        padding-left: 5px;
        /* display: none; */
    }

    .inner_box_adjust_3 .fontAwesome_icon_size {
        display: none;
    }

    .inner_box_adjust_3 h4 {
        font-size: 25px;
        padding-right: 45px;
        /* display: none; */
    }

    .dashboard_logo_image {
        width: 75px;
        height: 40px;
    }
}

@media(max-width: 700px) {
    .cardSection {
        display: block;
    }
}
/*  */

/* User Card Selection Styles */

.option_item .option_inner{
    /* width: 100%;
    height: 100%; */
    /* background:white; */
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 5px solid transparent;
    position: relative;
}

.option_item .checkbox{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0;
}

.option_item .option_inner .brand_icon{
    margin-bottom: 10px;
}

.option_item .option_inner .brand_icon i{
    font-size: 132px;
}

.option_item .option_inner .name{
    user-select: none;
    font-size: 14 px;
}

.option_item .checkbox:checked ~ .option_inner{
    border-color: #ff8800;
    box-shadow: 0px 8px 35px #ff8800;
}

.option_item .option_inner .tickmark{
    position: absolute;
    top: 185px;
    left: 230px;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
    transform: rotate(180deg);
}

.option_item .checkbox:checked ~ .option_inner .tickmark{
    display: block;
}

.option_item .option_inner .tickmark::before{
    content: "";
    position: absolute;
    top: -8px;
    left: -18px;
    width: 15px;
    height: 8px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-225deg);
    box-shadow: 0px 8px 20px rgba(0,0,0,19%);

}

.option_item .option_inner .tickmark{
    border-color: #ff8800 transparent transparent #ff8800;
}


/*  */


/* Bootstrap Active class */
/* 
.butn_styles a .active:focus {
    color: orange !important;
    background: white !important;
} */

/*  */

/* MOdal */

.modal-width-large{
    min-width: 95%;
}

/*  */





/* Image Uploading */

/* .imagecontainer {
    float: left;
    width: 215px;
    height: auto;
    margin: 10px 0;
  }
  .imagecontainer img{width: 150px; margin:10px 0;}
  .imageuploader{width: 800px; height: 400px; background-color:#cbeefc;padding: 10px;} */


  /*  */


  /*  */

.image_frame img {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.sub_images img{
    width: 75%;
    height: 100px;
    margin-top: 40px;
    border-radius: 5px;
}

  /*  */